* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 65.5% */
  font-size: 62.5%;
}

body {
  font-family: 'Barlow', 'Fraunces', sans-serif;
}

/**********/
.img-hero {
  background: url(/images/desktop/image-header.jpg) center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size:cover;
}
/***********************/
/******** HEADER *******/
/***********************/
.header {
  padding: 0 4rem;
  height: 9rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 3rem;
}
/***********************/
/***** NAVIGATION ******/
/***********************/
.main-nav-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s
}

.main-nav-link:hover,
.main-nav-link:active {
  color: hsl(232, 10%, 55%);
}

/* Button Contact */
.main-nav-link.btn-contact:link,
.main-nav-link.btn-contact:visited {
  color: black;
  background-color: white;
  text-transform: uppercase;
  padding: 1rem 2.4rem;
  border-radius: 2rem;
}

.main-nav-link.btn-contact:active,
.main-nav-link.btn-contact:hover {
  background-color: rgba(0, 0, 0, 0.133);
  color: white;
}

/***********************/
/******** HERO  *******/
/***********************/
.hero-section{
  padding: 0 5rem;
}

.hero {
  max-width: 120rem;
  margin: 10rem auto;
}

.hero-text-box {
  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.heading-primary {
  font-size: 4.8rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  font-family: 'Fraunces';
  color: white;
}

/***********************/
/******** CONTENT ******/
/***********************/
.section-content { 
  padding: 9.6rem 0;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* Queries  */
.grid--1-cols {
  display: none;
  grid-template-columns: 1fr;
}

.grid--2-cols-mobile {
  grid-template-columns: repeat(2, 1fr);
  display: none;
}
/* // */

.container {
  width: 100%;
  margin: 0 auto;
  max-width: auto;
}

.testimonial-box {
  margin-bottom: 3.5rem;
}

.img-box-1 {
  width:100%;
  height:auto; /* El elemento se ajustara automaticaamente a la altura.*/
  padding-bottom: 75%; /* Cambia el valor según la relación de aspecto. */

  background: url(/images/desktop/image-transform.jpg) center;
  background-repeat: no-repeat;
  background-size:cover;
}

.img-box-2 {
  width:100%;
  height:auto;
  padding-bottom: 75%; 

  background:  url(/images/desktop/image-stand-out.jpg)  center;
  background-repeat: no-repeat;
  background-size:cover;
}

.img-box-3 {
  width:100%;
  height:auto;
  padding-bottom: 75%; 

  background:  url(/images/desktop/image-graphic-design.jpg)  center;
  background-repeat: no-repeat;
  background-size:cover;
}

.img-box-4 {
  width:100%;
  height:auto;
  padding-bottom: 75%; 

  background:  url(/images/desktop/image-photography.jpg)  center;
  background-repeat: no-repeat;
  background-size:cover;
}


.content-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(51, 64%, 61%, 0.269);
  overflow: hidden;
}

.text-container {
  width: 65%;
}

.heading-secondary {
  font-family: 'Fraunces';
  color: hsl(212, 27%, 19%);
  font-size: 4rem;
  margin-bottom: 3rem;
}

.text-description {
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: hsl(213, 9%, 39%);
  font-family: 'Barlow';
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.learn-more {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-family: 'Fraunces';
  color:hsl(212, 27%, 19%);
  font-weight: 700;
  font-size: 1.75rem;

  transition: all 0.4s;
}

.learn-more.lm-1:link, 
.learn-more.lm-1:visited {
  border-bottom: 3px solid hsl(51, 100%, 49%);
}

.learn-more.lm-1:hover, 
.learn-more.lm-1:active {
  border-bottom: 3px solid hsl(7, 99%, 70%);

}

.learn-more.lm-2:link, 
.learn-more.lm-2:visited {
  border-bottom: 3px solid hsl(7, 99%, 70%);
}

.learn-more.lm-2:hover, 
.learn-more.lm-2:active {
  border-bottom: 3px solid hsl(51, 100%, 49%);
}

.text-cont {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.image-text-container {
  position: relative;
}

.heading-terciary {
  font-size: 3.4rem;
  margin-bottom: 1.5rem;
  font-family: 'Fraunces';
  color:  hsl(167, 40%, 24%);
}

.paragraph-terciary {
  font-size: 1.65rem;
  text-align: center;
  line-height: 1.45;
  color:  hsl(167, 40%, 24%);
}

.content {
  overflow: hidden;
  width: 100%;
  height: 100%;
 }

/***********************/
/**** TESTIMONIALS *****/
/***********************/
.section-testimonials {
  padding: 15rem 0;
  background-color: hsla(232, 10%, 55%, 0.041);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cust {
  column-gap: 3.5rem;
}

.content-testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-testimonial {
  font-family: 'Fraunces';
  text-transform: uppercase;
  color:hsl(232, 10%, 55%);
  letter-spacing: 7px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 7rem;
}

.testimonial-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-testimonial {
  height: 7rem;
  width: 7rem;
  border-radius: 5rem;
  border: 1px solid rgba(51, 51, 51, 0.2);
  margin-bottom: 4rem;

  display: block;
  transition: all 0.3s;
}

.img-testimonial:hover {
  box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.2);
}

.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333333c1;
  margin-bottom: 3rem;
  text-align: center;
}

.testimonial-name {
  color: hsl(212, 27%, 19%);
  font-size: 2rem;
  font-style: 'Fraunces';
  margin-bottom: 1rem;
}

.testimonial-position {
  font-size: 1.3rem;
  font-style: 'Barlow';
  color: #33333390;
}

.containeer {
  display: flex;
  margin: 0 auto;
  width: 75%;
}

/***********************/
/**** GALLERY *********/
/***********************/
.section-gallery {
  overflow: hidden;
}

.grid--4-cols {
/* display: block; */
grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-item-1 {
  width:100%;
  height:auto;
  padding-bottom: 75%; 

  background:  url(/images/desktop/image-gallery-milkbottles.jpg)  center;
  background-repeat: no-repeat;
  background-size:cover;
}
.gallery-item-2 {
  width:100%;
  height:auto;
  padding-bottom: 75%; 

  background:  url(/images/desktop/image-gallery-orange.jpg)  center;
  background-repeat: no-repeat;
  background-size:cover;
}

.gallery-item-3 {
  width:100%;
  height:auto;
  /* padding-bottom: 75%;  */

  background:  url(/images/desktop/image-gallery-cone.jpg)  center;
  background-repeat: no-repeat;
  background-size:cover;
}

.gallery-item-4 {
  width:100%;
  height:auto;
  padding-bottom: 75%; 

  background:  url(/images/desktop/image-gallery-sugarcubes.jpg)  center;
  background-repeat: no-repeat;
  background-size:cover;
}

/**************/
.gallery-item {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.img-gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/**************/

/***********************/
/**** FOOTER ***********/
/***********************/
.footer {
  padding: 7rem 0;
  background-color: hsl(168, 49%, 73%);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo.footer-logo {
  margin-bottom: 3.2rem;
}

.categories {
  display: flex;
  gap: 6rem;
}

.categories li {
  list-style: none;
  margin-bottom: 7rem;
}

.categorie-link:link,
.categorie-link:visited {
  text-decoration: none;
  color: hsl(168, 38%, 28%);
  font-size: 1.8rem;
  transition: all 0.3s;
}

.categorie-link:hover,
.categorie-link:active {
  color: hsl(168, 38%, 10%);
}

.social-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

/*******************************/
/**** NAVIGATION RESPONSIVE ****/
/*******************************/
.overlay {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
  display: none;

  transform: translateX(-100vw);
  /* transition: all 0.4s; */
 }

 .overlay-slice-right {
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
 }

 .overlay-slice-left {
  transform: translateX(-100vw);
  transition: all 0.4s ease-in-out;
 }
 /*/////////////////////////////////////*/
 .main-nav-res,
 .main-nav-res .main-nav-list-res {
  padding: 0;
  margin: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
 }

 .main-nav-list-res li {
  height: 25%;
 }

 .main-nav-list-res li a {
  position: relative;
  top: 45%;
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
 }

 .main-nav-link-res {
  font-size: 2.2rem;
 }

 .btn-contact-res {
  font-size: 2.2rem;
 }

 #nav-1 {background-color:  hsl(7, 99%, 70%);}
 #nav-2 {background-color:hsla(0, 0%, 100%, 0.942);}
 #nav-3 {background-color: hsl(7, 99%, 70%);}
 #nav-4 {background-color: hsla(0, 0%, 100%, 0.9);}

/********************/
/**** MENU BARS ****/
/*******************/
.menu-bars {
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
  
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 7px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
